body {
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light", cursive;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 96%;
  height: 50px;
  margin: 0%;
  padding-top: 10px;
  color: #0000;
}
nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
nav a {
  text-decoration: none;
  font-size: xx-large;
}
nav a:hover {
  transition: 0.5s ease-in-out;
  color: red;
}
a:visited {
  color: #0000;
}

/* parent element to img */
.body-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}
.card a {
  text-align: center;
  text-decoration: none;
  color: lightgrey;
  font-size: 25px;
}
.card a:hover {
  color: darkgray;
  text-shadow: 2px 2px #4a4a4f;
  transition: 40ms ease-in-out;
}
img {
  width: 100%;
  height: auto;
  max-width: 180px;
  min-width: auto;
}
h2 {
  text-align: center;
  font-size: 1em;
  color: black;
}
h1 {
  display: flex;
  justify-content: center;
  font-weight: 200;
}
